<h2>Create a new monster! <%= link_to "(+)", new_hero_monster_path(@monsters) %></h2>

<h3>Existing Monsters:</h3>
<ul>
  <% @monsters.each do |monster| %>
    <li>
      <%= link_to monster.name, monster %>
    </li>
    <br>
  <% end %>
</ul>
